<% include header %>

<div class="container">
	<a class="btn btn-lg" href="/new-post">Create a new post !</a>
</div>
<% if (posts.length){ %>
    <% posts.forEach(function(post){ %>
      <div class="well" style="background-color: #fff; color: #000;">
      <div>
      <h4><span class="glyphicon glyphicon-user"></span> <%= post.name.toUpperCase() %></h4><br> </div>
      <h4><%= post.content %></h4><br>
      <span class="glyphicon glyphicon-time"></span> <%= post.posted_at %> </div>
    <% }) %>
<% } else { %>
 No entries present :( What do you say?
 <% } %>

 <% include footer %>